<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608693645726-oqeeaqfumfkha8lrk88ac5aekl1q9djt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608693645726-oqeeaqfumfkha8lrk88ac5aekl1q9djt</string>
	<key>API_KEY</key>
	<string>AIzaSyCBDctnuApxUmKWgFOPqTTgqEkpZ005uDg</string>
	<key>GCM_SENDER_ID</key>
	<string>608693645726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.5play-apps.Workbook100</string>
	<key>PROJECT_ID</key>
	<string>workbook100-d10d0</string>
	<key>STORAGE_BUCKET</key>
	<string>workbook100-d10d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608693645726:ios:4b792fec50303753afe68f</string>
</dict>
</plist>